/* Bloque galería */

.galeria-gp {
    width: min(1200px, 100% - 3rem);
    /*margin: 5rem auto 6rem;*/
}

/* Cabecera */

.galeria-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.galeria-texto p {
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
}

.galeria-texto h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
}

/* subrayado solo para esta sección */

.galeria-gp .section-underline {
    width: 190px;
    height: 5px;
    border-radius: 999px;
    background: #ff1111;
    margin-top: 0.6rem;
}

/* Grid de imágenes */

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.galeria-item {
    position: relative;
    aspect-ratio: 4 / 3;
}

.galeria-item--wide {
    grid-column: span 2;
    aspect-ratio: 8 / 3;
}

.galeria-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.14);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.galeria-item img:hover {
    transform: translateY(-3px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

/* Para darle estilo a los botones */

.galeria-filtros{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin: 3px 0 40px;
}

.filtro-boton {
    font-family: 'Sansation', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px 16px;
    border-radius: 999px;   
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease;
    font-weight: 500;
}

.filtro-boton:hover {
    transform: translateY(-1px);
    background-color: #111827;
    color: #ffffff;
}

.filtro-boton.activo {
    background-color: #e11d48;
    border-color: #e11d48;
    color: #f9fafb;
}


/* Para lightbox. Imagen ampliada */

.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.lightbox img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 1.5rem;
    box-shadow: 0 15px 30px rgba(0,0,0,0.6);
}

.lightbox-cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2.2rem;
    color: #ffffff;
    cursor: pointer;
}


/* Versión móvil */

@media (max-width: 768px) {
    .galeria-gp {
        width: 100%;
        margin: 4rem auto 5rem;
        padding: 0 1.25rem;
    }

    .galeria-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .galeria-texto h2 {
        font-size: 2.2rem;
    }

    .galeria-grid {
        grid-template-columns: 1fr;
    }

    .galeria-item,
    .galeria-item--wide {
        grid-column: auto;
        aspect-ratio: 4 / 3;
    }
}
