/* -------------------------
   Página "Glosario"
------------------------- */

/*Este es el contenedor del glosario
Limito el ancho, lo ajusto más al centro y dejo el 
padding similar a mi diseño de Figma*/
.glosario {
    max-width: 1000px;
    margin: 40px auto 80px;
    padding: 0 40px;
    font-family: 'Sansation', Arial, sans-serif;
    background-color: #ffffff;
}

/*Titulo principal de la página*/

.glosario-header h1{
    font-size: 2.0rem;
    font-weight: 700;
    margin:0;
}

/*Sirve para el subrayado en rojo que quiero
en todos los títulos de las secciones de la
página*/
.glosario-underline {
    display: block;
    width: 150px;
    height: 4px;
    margin-top: 10px;
    background-color: #e10600; 
    border-radius: 999px;
}

/*Lista de términos*/
/*Aquí van todos los términos del glosario*/
.glosario-lista {
    margin-top: 40px;
}

/*Uso flex para ponoer el número del término a la
izquierda y el término y su definición a la derecha*/
.glosario-item {
    display: flex;
    align-items:flex-start;
    /*grid-template-columns: 80px 1fr;*/
    /*column-gap: 32px;*/
    gap:40px;
    padding: 40px 0 50px;
    border-top: 1px solid #e0e0e0; /*Sirve como separador*/
}

/*Esto es para que el último término del glosario
cierre con una línea abajo*/
.glosario-item:last-child {
    border-bottom: 1px solid #e0e0e0;
}

/*Numero de la izquierda del término del glosario*/
.glosario-numero {
    font-size: 2rem;
    font-weight: 600;
    color: #cfcfcf;
    line-height: 1;
    margin-top: 4px;
    /*display: flex;
    align-items: flex-start;*/
}

/*Contenedor para el texto del término*/
.glosario-contenido {
    max-width: 720px;  /* hace que el texto no se vea ancho */
}


/* Contenido */
.glosario-contenido h2 {
    font-size: 1.8rem;
    margin: 0 0 12px;
}

/*Descripción del término*/ 
.glosario-contenido p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin: 0 0 10px;
}

/* Para el dato relevante */

.dato-relevante {
    margin-top: 12px;
}

/*Esto sirve para resaltar la frase de relevante 
en negrita e italica*/
.dato-relevante span {
    font-weight: 700;
    font-style: italic;
}

/* Imagen */
/*La centro y le pongo bordes redondeados*/
.glosario-imagen {
    margin-top: 30px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 28px;
    overflow: hidden;
}

/*Para que la imagen pueda hacerse responsive 
y no se corte*/
.glosario-imagen img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ==========================
   Responsive
===========================*/

@media (max-width: 768px) {
    /* Reduzco el padding lateral para el teléfono*/
    .glosario {
        padding: 0 16px;
    }

    /*Reduzco el tamaño del número para el celular*/
    .glosario-numero {
        font-size: 1.4rem;
    }
}